<div class="containe">
    <div>
      <i class="fas fa-cab"></i>
    </div>
  
  <div>
    <span>    {{mfile.title}} {{mfile.filename}}
      </span>
    <span *ngFor=" let attri of attrisSelected" class="badge badge-secondary" (click)="deselect(attri)">
          {{attri.name}} 
      </span>
  </div>
  
  <div *ngIf="mfile.proberties != null">
      <span *ngFor=" let p of mfile.proberties"  >
        [{{p.name}} : {{p.value}}]
      </span>
  </div>
  
</div>

<p>
    <input type="text" [(ngModel)]="searchInput"   class="form-control"
    (ngModelChange)="this.userQuestionUpdate.next($event)">
  </p>
<span *ngFor=" let attri of attris" class="badge badge-secondary" (click)="select(attri)">
  <span *ngIf="attri.name.includes(searchInput)">  {{attri.name}}</span>
</span>
<ng-container   *ngIf="mfile.mtype != 8"> 
<app-medium-detail  [mfile] = "mfile"> </app-medium-detail>
</ng-container>

<ng-container   *ngIf="mfile.mtype == 8"> 
    <app-folder-detail  [folder] = "mfile.folder"> </app-folder-detail>
</ng-container>
    