
<div *ngIf="created">Created </div>
<div *ngIf="updated">Updated </div>
<form #f="ngForm" (ngSubmit)="submit(f)">
  <input [value]="bookmark.id" hidden
  [(ngModel)]="bookmark.id" name="id" #aa="ngModel" />
  

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3"> <a [routerLink]="" (click)="getTitle()">Title</a> </span>
    </div>
    <input  [value]="bookmark.title"
    [(ngModel)]="bookmark.title" name="title" #aa="ngModel" (change)="log(aa)" id="title" type="text" class="form-control">
   </div>

   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3"> 
        <a href="{{f.value.url}}">URL</a>
      </span>
    </div>
    <input  [(ngModel)]="bookmark.url" name="url" id="url" [value]="bookmark.url" class="form-control">
   </div>
   
   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3"> Description </span>
    </div>
    <input  [(ngModel)]="bookmark.description" name="description" id="url" cols="20" rows="10" [value]="bookmark.description" class="form-control">
    </div>
   
    
      <button class="btn btn-primary btn-sm" [disabled]="!f.valid" >save</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="cancel()" > Cancel</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="new()" > New</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="delete(f)" [disabled]="bookmark.id == undefined" > Delete</button>      
      <button type="button" class="btn btn-primary btn-sm" (click)="newFit(f)" [disabled]="bookmark.id == undefined" > New Fit</button>      
      <button type="button" class="btn btn-dark btn-sm" (click)="scan(bookmark.url)" [disabled]="bookmark.id == undefined" > Scan</button>      
      
      <p>{{f.value |json}}</p>

</form>

<div *ngIf="bookmark.folder_id" class="form-group"> 
  <a [routerLink]="['/folders', bookmark.folder_id || 0]">Folder</a>
</div>

<div *ngIf="bookmark.bookmark_id">
    <a [routerLink]="['/bookmarks', bookmark.bookmark_id]">Parent</a>
  </div>
  

<div *ngIf="false">
<app-url-matcher [url]="bookmark.url"></app-url-matcher>
</div>

<div *ngIf="bookmark.id">
<app-fits  [bookmark_id]="bookmark.id" [changeBit]="changeBit"></app-fits>
Children:
<app-bookmarks [parentBookmark_id]="bookmark.id" [refresh]="refresh"> </app-bookmarks>
</div>


