<div> <button type="button" class="btn btn-primary">
    {{folder.title}} 
  </button>
  <span class="border-right"></span>

  <button type="button" class="btn btn-primary">
    <span class="badge badge-light">L</span>
    {{folder.lfolder}}
    <span class="badge badge-light">M</span>
    {{folder.mpath}}
  </button>
  <span class="border-right"></span>

  <button type="button" class="btn btn-secondary  btn-sm">
    {{pathLocation(folder.storage_id,1)}} 
  </button>
  <span class="border-right"></span>

   <button type="button" class="btn" [ngClass]="{'btn-danger': scanAndUpdate === 'Update ongoing','btn-success': scanAndUpdate === 'Update done'}  ">
    {{scanAndUpdate}}
  </button>

</div>

<p *ngIf="folder.bookmark">
    <a [routerLink]="['/bookmarks', folder.bookmark.id]">{{folder.bookmark.url}}</a>
    <span class="badge badge-light"><a [routerLink]="" (click)="addSuffix(folder.bookmark.id)">S</a></span>
    </p>
    
<button (click)="dirlist = !dirlist"> Dirlist Toggle</button>
<button (click)="deleteFolder(folder.id)"> Delete Folder</button>
<button (click)="scanAndAddOriginLocation(folder.id)"> Scan for new Mfiles from OriginLocation</button>
<button (click)="getLocationsT2()"> Locations to move</button>
<button *ngFor="let location of locations" (click)="moveToLocation(location.id)">{{location.uri}}</button>


<ng-container *ngIf="!dirlist" >
        <app-mfiles [mfiles]="mfiles" ></app-mfiles>

</ng-container>
    
<ng-container *ngIf="dirlist" >
    <app-dirlist [folder_id]="folder.id"></app-dirlist>
</ng-container>

