

{{folder.title}} : 

Loc: {{pathLocation(folder.storage_id,1)}}
Lfol: {{folder.lfolder}}
Mpath: {{folder.mpath}}

<button (click)="dirlist = !dirlist"> Dirlist Toggle</button>
<button (click)="deleteFolder(folder.id)"> Delete Folder</button>


<p>
<a *ngIf="folder.bookmark" [routerLink]="['/bookmarks', folder.bookmark.id]">{{folder.bookmark.url}}</a>
</p>

<ng-container *ngIf="!dirlist" >
        <app-mfiles></app-mfiles>
</ng-container>
    
<ng-container *ngIf="dirlist" >
    <app-dirlist [folder_id]="folder.id"></app-dirlist>
</ng-container>

